header {
  background-color: rgb(86, 54, 210);
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 11px;
}
header img {
  margin-left: 20vh;
  padding-top: 8vh;
}
header a {
  text-decoration: none;
  color: rgb(243, 240, 255);
  padding-top: 8vh;
}
header button {
  border-radius: 110px 110px 110px 110px;
  -moz-border-radius: 110px 110px 110px 110px;
  -webkit-border-radius: 110px 110px 110px 110px;

  text-decoration: none;
  border: none;
  font-size: 12px;
  color: aliceblue;
  height: 7vh;
  width: 20vh;
  margin-top: 6vh;
}
.botonLogIn {
  background-color: rgb(86, 54, 210);
}
.botonSingUp {
  background-color: rgb(94, 66, 213);
}
